body {
    font-family: 'Montserrat', sans-serif;
    background: #FAE6F9;
    color: #5c5c5c;
}

.header {
    font-family: 'Gochi Hand', cursive;
    background-color: #54005E;
}


/* Navigation bar start*/

nav {
    height: 70px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: White;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.tag:hover {
    background: #c24acf;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 35px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1034px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16 px;
    }
}

@media (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16 px;
    }
}

@media (max-width: 895px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #54005E;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 5;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20 px;
    }
    a.tag:hover {
        background: none;
        color: rgb(227, 183, 238);
        ;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 812px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #54005E;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20 px;
    }
    a:hover {
        background: none;
        color: rgb(227, 183, 238);
        ;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 345px) {
    .logo {
        font-size: 20px;
        padding-left: 20px;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #54005E;
        top: 70px;
        left: -100%;
        /* text-align: center; */
        transition: all .5s;
        z-index: 99;
    }
    nav ul li {
        display: block;
        margin: 25px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 10 px;
    }
    a.tag:hover {
        background: none;
        color: rgb(227, 183, 238);
    }
    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 270px) {
    .logo {
        font-size: 15px;
        padding-left: 15px;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #54005E;
        top: 70px;
        left: -100%;
        /* text-align: center; */
        transition: all .5s;
        z-index: 99;
    }
    nav ul li {
        display: block;
        margin: 25px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 10 px;
    }
    a.tag:hover {
        background: none;
        color: rgb(227, 183, 238);
    }
    #check:checked~ul {
        left: 0;
    }
}


/* Navigation bar end  */


/* Owl carousel start */

.testimonial-container {
    box-sizing: border-box;
    background: #ffffff
}

.wrapper {
    margin-top: 30px;
}

.wrapper .owl-carousel {
    width: 80%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding-bottom: 20px;
    z-index: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    z-index: 0;
}

.card {
    padding: 20px;
    justify-content: center;
    width: 100%;
    height: 50%;
    z-index: 0;
}

.owl-carousel .card-1 {
    background: #ffffff;
}

.owl-carousel .card-2 {
    background: #ffffff;
}

.owl-carousel .card-3 {
    background: #ffffff;
}

.owl-carousel .card-4 {
    background: #ffffff;
}

.owl-carousel .card-5 {
    background: #ffffff;
}


/* Owl carousel end */


/* FAQs start*/

.faq {
    margin: 20px;
    align-items: center;
}

.faqdiv {
    margin: 30px 70px 30px 70px;
    justify-content: center;
}

.faqhead {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

details {
    margin: 10px;
}

summary {
    font-weight: bold;
}


/* FAQ end */


/* Video section start */

.videos {
    background: #ffffff;
    margin: 30px 70px 30px 70px;
}

.wrapper {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videos h1 {
    background: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.videos iframe {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Video section end */


/* Footer start */

footer {
    background: #54005E;
    position: sticky;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: fixed;
    width: 100%;
    padding-top: 20px;
    color: white;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    text-transform: capitalize;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #FAE6F9;
    border-radius: 3px;
}

.socials a i {
    font-size: 1.1rem;
}

.socials a:hover i {
    color: white;
}

.footer.bottom {
    background-color: #54005E;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 17px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;
}


/* Footer end */