<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name=" viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/gallerystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <meta name="description" content="An artist portfolio website.">
    <meta name="keywords" content="art class, artist, art, portfolio">
    <!-- <script src="https://cdn.jsdelivr.net/npm/lightense-images@1.0.13/dist/lightense.min.js" type="text/javascript"></script> -->
    <meta name="robots" content="INDEX , FOLLOW">
    <title>Kavita Art</title>
</head>

<body>

    <!-- Header start -->
    <header class="header">
        <div>

            <nav role="navigation" aria-label="main menu">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                <i class="fa fa-bars"> </i>
              </label>
                <label><a class="logo" href="/">Kavita Art </a></label>
                <ul>
                    <li><a href="about" class="tag active">About</a></li>
                    <li><a href="gallery" class="tag">Gallery</a></li>
                    <li><a href="artclass" class="tag">Art Class</a></li>
                    <li><a href="products" class="tag">Products</a></li>
                    <li><a href="contact" class="tag">Contact</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Header end -->

    <div class="container">

        <div class="image">
            <h1>Ceramic</h1>
            <a href="static/gallery/recents/r1.jpg">
                <img src="static/gallery/recents/r1.jpg" alt="">
            </a>
        </div>
        <div class="image">
            <h1>Ceramic</h1>
            <a href="static/gallery/recents/r2.jpg">
                <img src="static/gallery/recents/r2.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Oil on canvas</h1>
            <a href="static/gallery/recents/r3.jpg">
                <img src="static/gallery/recents/r3.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Oil on canvas</h1>
            <a href="static/gallery/recents/r4.jpg">
                <img src="static/gallery/recents/r4.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Poster color</h1>
            <a href="static/gallery/recents/r5.jpg">
                <img src="static/gallery/recents/r5.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/recents/r6.jpg">
                <img src="" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l1.jpg">
                <img src="static/gallery/landscapes/l1.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor pencils</h1>
            <a href="static/gallery/landscapes/l2.jpg">
                <img src="static/gallery/landscapes/l2.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l3.jpg">
                <img src="static/gallery/landscapes/l3.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor pencils</h1>
            <a href="static/gallery/landscapes/l4.jpg">
                <img src="static/gallery/landscapes/l4.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l5.jpg">
                <img src="static/gallery/landscapes/l5.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l6.jpg">
                <img csrc="static/gallery/landscapes/l6.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l7.jpg">
                <img csrc="static/gallery/landscapes/l7.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l8.jpg">
                <img class="zoom" src="static/gallery/landscapes/l8.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l9.jpg">
                <img class="zoom" src="static/gallery/landscapes/l9.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l10.jpg">
                <img class="zoom" src="static/gallery/landscapes/l10.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l11.jpg">
                <img src="static/gallery/landscapes/l11.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l12.jpg">
                <img src="static/gallery/landscapes/l12.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l13.jpg">
                <img src="static/gallery/landscapes/l13.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l14.jpg">
                <img src="static/gallery/landscapes/l14.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l15.jpg">
                <img src="static/gallery/landscapes/l15.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l16.jpg">
                <img src="static/gallery/landscapes/l16.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l17.jpg">
                <img src="static/gallery/landscapes/l17.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/landscapes/l18.jpg">
                <img src="static/gallery/landscapes/l18.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s1.jpg">
                <img src="static/gallery/still life/s1.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s2.jpg">
                <img src="static/gallery/still life/s2.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s3.jpg">
                <img src="static/gallery/still life/s3.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s4.jpg">
                <img src="static/gallery/still life/s4.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s5.jpg">
                <img src="static/gallery/still life/s5.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Pencil</h1>
            <a href="static/gallery/still life/s6.jpg">
                <img src="static/gallery/still life/s6.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s7.jpg">
                <img src="static/gallery/still life/s7.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s8.jpg">
                <img src="static/gallery/still life/s8.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s9.jpg">
                <img src="static/gallery/still life/s9.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s10.jpg">
                <img src="static/gallery/still life/s10.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s11.jpg">
                <img src="static/gallery/still life/s11.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s12.jpg">
                <img src="static/gallery/still life/s12.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s13.jpg">
                <img src="static/gallery/still life/s13.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s14.jpg">
                <img src="static/gallery/still life/s14.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s15.jpg">
                <img src="static/gallery/still life/s15.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s16.jpg">
                <img src="static/gallery/still life/s16.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s17.jpg">
                <img src="static/gallery/still life/s17.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s18.jpg">
                <img src="static/gallery/still life/s18.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s19.jpg">
                <img src="static/gallery/still life/s19.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s20.jpg">
                <img src="static/gallery/still life/s20.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s21.jpg">
                <img src="static/gallery/still life/s21.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/still life/s22.jpg">
                <img src="static/gallery/still life/s22.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-1.jpg">
                <img src="static/gallery/ms-1.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-2.jpg">
                <img src="static/gallery/ms-2.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-3.jpg">
                <img src="static/gallery/ms-3.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-4.jpg">
                <img src="static/gallery/ms-4.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-5.jpg">
                <img src="static/gallery/ms-5.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-6.jpg">
                <img src="static/gallery/ms-6.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Oil on canvas</h1>
            <a href="static/gallery/ms-7.jpg">
                <img src="static/gallery/ms-7.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-8.jpg">
                <img src="static/gallery/ms-8.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-9.jpg">
                <img src="static/gallery/ms-9.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-10.jpg">
                <img src="static/gallery/ms-10.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-11.jpg">
                <img src="static/gallery/ms-11.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-12.jpg">
                <img src="static/gallery/ms-12.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-13.jpg">
                <img src="static/gallery/ms-13.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-14.jpg">
                <img src="static/gallery/ms-14.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-15.jpg">
                <img src="static/gallery/ms-15.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Pencils</h1>
            <a href="static/gallery/ms-16.jpg">
                <img src="static/gallery/ms-16.jpg" alt="">
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-17.jpg">
                <img src="static/gallery/ms-17.jpg" alt=""></a>
        </div>
        <div class="image">
            <h1>Watercolor</h1>
            <a href="static/gallery/ms-18.jpg">
                <img src="static/gallery/ms-18.jpg" alt=""></a>
        </div>
    </div>


    <!-- Footer start -->
    <footer>
        <div class="footer-content">

            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div>
        <div class="footer-bottom">
            <p>&copy; 2021 Kavita Art</p>
        </div>
    </footer>


</body>

</html>