<!DOCTYPE html>
<html lang="en-GB">

<head>

    <link rel="stylesheet" href="static/homestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" name=" viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <meta name="description" content="An artist portfolio website.">
    <meta name="keywords" content="art class, artist, art, portfolio">
    <meta name="robots" content="INDEX , FOLLOW">
    <title>Kavita Art</title>
    <script src="/static/homejs.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>


<body>

    <!-- Header start -->
    <header class="header nav-down">
        <div>

            <nav role="navigation" aria-label="main menu">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                <i class="fa fa-bars"> </i>
              </label>
                <label><a class="logo" href="/">Kavita Art </a></label>
                <ul>
                    <li><a href="about" class="tag active">About</a></li>
                    <li><a href="gallery" class="tag">Gallery</a></li>
                    <li><a href="artclass" class="tag">Art Class</a></li>
                    <li><a href="products" class="tag">Products</a></li>
                    <li><a href="contact" class="tag">Contact</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Header end -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript"></script>



    <!-- Slideshow container -->
    <section class="slideshow-container">

        <div class="wrapper">

            <div class="owl-carousel owl-theme">

                <div class="card card-1">
                    <img class="img" src="/static/resized/np4.jpg">
                </div>

                <div class="card card-2">
                    <img class="img" src="/static/resized/np1.jpg"> </div>

                <div class="card card-3">
                    <img class="img" src="/static/resized/np2.jpg"> </div>

                <div class="card card-4">
                    <img class="img" src="/static/resized/np5.jpg">
                </div>

                <div class="card card-5">
                    <img class="img" src="/static/resized/np11.jpg"></div>

            </div>
        </div>
    </section>

    <!-- Slideshow container end -->

    <!-- About section start -->

    <section class=" about text-gray-600 body-font">
        <div class="aboutcontainer mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="/static/resized/artistpix/ar2.jpg">
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About
                    <br class="hidden lg:inline-block">the artist
                </h1>
                <p class="mb-8 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, itaque! Ipsam incidunt reiciendis officiis, magni minus, architecto maiores, harum rerum reprehenderit dolore hic voluptate iste cupiditate.</p>
            </div>
        </div>
    </section>


    <!-- About section end -->


    <!-- Art class gallery start -->

    <section class="artclassgallery text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Art class gallery</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Former students' work</p>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/3 sm:w-1/2 p-4">
                    <div class="flex relative">
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/resized/ac3.jpeg">
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">WATER COLOR</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><br><br><br></h1>
                            <p class="leading-relaxed">Class 4</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 p-4">
                    <div class="flex relative">
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/resized/ac2.jpeg">
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">CRAFT</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><br><br><br></h1>
                            <p class="leading-relaxed">Class 6</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 p-4">
                    <div class="flex relative">
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/resized/ac4.jpeg">
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">WATER COLOR</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><br><br><br></h1>
                            <p class="leading-relaxed">Class 10 </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 p-4">
                    <div class="flex relative">
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/resized/ac5.jpeg">
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">WATER COLOR</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><br><br><br><br><br><br><br><br><br><br><br></h1>
                            <p class="leading-relaxed">Class 5</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 p-4">
                    <div class="flex relative">
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/resized/ac6.jpeg">
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">OIL ON CANVAS</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><br><br><br><br><br><br><br><br><br><br><br></h1>
                            <p class="leading-relaxed">Class 11</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 p-4">
                    <div class="flex relative">
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/resized/ac7.jpeg">
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">OIL ON CANVAS</h2>
                            <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><br><br><br><br><br><br><br><br><br><br><br></h1>
                            <p class="leading-relaxed">Class 12</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Art class gallery end -->

    <!-- Footer start -->
    <footer>
        <div class="footer-content">

            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div>
        <div class="footer-bottom">
            <p>&copy; 2021 Kavita Art</p>
        </div>
    </footer>

</body>

</html>